.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos thead {
    background-color: rgb(25, 15, 129);
}

.TabelaProdutos .Par {
    background-color: gray;
}

.TabelaProdutos .Impar {
    background-color: silver
}